body {
  background-image: url("images/background.jpg");
  background-size: 1080px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 7%;
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 400;
  color: black;
  font-size: 18px;
   height: 100%;
  max-height: 100%;
   overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

center {
  text-align: center;
}

h1 {
  color: black;
  font-family: "Crete Round";
  font-weight: 800;
}

h2 {
  color: black;
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

h3,
h4,
h5 {
  color: black;
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 500;
  margin-top: 0;
}

p {
  color: black;
  margin-right: auto;
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
}

a{
  color: #6b8050;
  text-decoration: none;
}

a:hover{
  color:#b8c7a5;
}

.flex
{
  display:flex;
  flex-wrap: wrap;
}

.flex flex-box{
  flex: 30%;
}

.about{
width: 100%;
}

.about img{
  width: 40%;
}

.sidenav{
  padding: 2vw;
    background: white;
    width: 16vw;
    position:fixed;
}

.sidenav title-text{
  text-align: left;
  font-family: "Crete Round", fixedsys, System, sans-serif;
  font-weight: 400;
  color: black;
  font-size: 3vw;
}

.sidenav menu-text{
text-decoration: none;
font-family: "Poppins", fixedsys, System, sans-serif;
font-weight: 500;
color: black;
font-size: 2vw;
}

.sidenav menu-text:hover{
    color: #6b8050;
}

.sidenav a{
  text-decoration: none;
  color: #6b8050
}

.sidenav a:hover{
  color: #b8c7a5
}

.sidenav u{
    text-decoration-thickness: 0.3vw;
    text-underline-offset: 0.6vw;
}

.main{
    background-color: white;
    margin-left: 25vw;
    width: 55vw;
    padding: 2vw;
}

.main img{
  float:left;
  padding-right: 2vw;
}

.main li{
  margin-left: 5%;
}

.article{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap: 30px;
}

.article a{
  text-decoration: none;
  color: #6b8050;
  width: 100%;
}

.article img{
    float: left;
}

.article article-title{
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 500;
  color: black;
  font-size: 20px;
  display: block;
}

.article article-subtitle{
 font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 500;
  color: black;
  font-size: 15px;
  display: block;
}

@media (max-width: 900px) {
.sidenav{
  width: 80%;
  position:relative;
  margin: 2vw;
  margin-bottom: 20%;
  padding: 5%;
}

.sidenav title-text{
  font-size: 50px;
}

.sidenav menu-text{
  font-size: 25px;
}

.sidenav u{
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.main{
    margin-top: 10%;
    width: 80%;
    margin: 2vw;
    padding: 5%;
}

p{
  font-size: 20px;
}

.article{
  margin: 10%;
}

.article article-title{
font-size: 20px;
margin-left: 0;
 margin-right: 15%;
}

.article article-subtitle{
  font-size: 15px;
  margin-left: 0;
  margin-right: 15%;
  padding-bottom: 10%;
 
}
.flex flex-box{
  flex: 100%;
}

.main img{
  width: 80%;
  padding-bottom: 10%;
  margin: auto;
  display: block;
}

.article img{
  float:0;
}

.about img{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: block;
  float: 0;
}

}