body {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Times New Roman", fixedsys, System, serif;
  font-weight: 400;
  font-size: 14pt;
  color: black;
   height: 100%;
  max-height: 100%;
   overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

h1{
  font-weight: 400;
}

h2{
  font-weight: 400;
  font-size: 20pt;
}

h3{
  font-size: 16pt;
  font-weight: 400;

}

h4{
  font-size: 14pt;
  font-weight: 400;
  font-style: italic;
  color: gray;
  margin-top: -15px;
  margin-left: 5%;
  margin-right: 5%;
}


.content-container a{
  text-decoration: none;
  color: rgb(97, 97, 97);
}

.content-container a:hover{
  color: rgb(156, 189, 156);
}

.header-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 60%;
    overflow: wrap;
}

.header-container a{
  font-size: 15pt;
  margin-top: -200px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 200px;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.header-container a:hover{
  color: rgb(156, 189, 156);
}

.footer-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 5%;
}

.footer-container a{
  font-size: 11pt;
  margin-top: -200px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 200px;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.footer-container a:hover{
  color: rgb(156, 189, 156);
}

.content-container{
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.art-gallery img{
  height: 300px;
}

.flex-container img{
  width: 200px;
  border-radius: 5px;
  margin-bottom: -15px;
}

.flex-container{
  margin-top: -2%;
  display: flex;
  flex-wrap: wrap;
}

.flex-item{
  flex: 50%;
}

.flex-item-2{
  flex:50%;
  text-align: right;
}

.flex-item-3{
  flex: 30%;
}

.about-photo{
  display: block;
  float: right;
  width: 50%;
  height: 100%;
}

.article-image img{
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .header-container{
        width: 100%;
 }
 .flex-item{
  flex: 100%;
 }

 .flex-item-2{
  flex:100%;
  text-align: left;
}

.flex-item-3{
  flex: 100%;
}

.about-photo{
  float: none;
}

}

