body {
  font-weight: 400;
  font-size: 15pt;
  font-family: "IM Fell Great Primer", serif;
  color: black;
  background-color: #eae7deff;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.wiggly-header {
  font-family: "Jacquard 12";
  font-size: 48pt;
  display: inline-block;
  letter-spacing: -7%;
  transition: 0.1s;
}

.wiggly-header:hover {
  transform: translateY(-15px);
}

.nav p {
  display: inline-block;
  width: 50px;
  font-size: 18pt;
  transition: 0.1s;
}

.nav p:hover {
  transform: rotate(10deg);
}

.nav a {
  color: black;
}

.art-row-1 img {
  height: 28.25vw;
}

.nav a:hover {
  opacity: 50%;
}

.flex-container {
  display: flex;
  gap: 10px;
}

.flex-70 {
  flex: 70%;
}

.flex-30 {
  flex: 30%;
}

.game-styling img {
  height: 13vw;
}

.iframe-styling {
  margin-left: -3%;
  margin-right: -3%;
}

iframe {
  width: 100%;
  height: 300px;
}

center {
  padding-bottom: 100px;
}

a {
  color: #2f7044;
  transition: 0.1s;
}

a:hover {
  opacity: 50%;
}

h1 {
  font-family: "Jacquard 12";
  font-size: 38pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-family: "IM Fell Great Primer SC";
  font-size: 20pt;
  font-weight: 300;
  text-align: center;
}

h4 {
  font-size: 20pt;
  rotate: -4deg;
}

p {
  font-size: 14pt;
}

@media (max-width: 900px) {
  body {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100%;
    max-height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }

  .flex-container {
    display: block;
  }

  .flex-30 {
    text-align: center;
  }

  .iframe-styling {
    margin-top: -3%;
  }

  .art-row-1 img {
    width: 100%;
    height: 100%;
  }
  .game-styling img {
    height: 250px;
  }
}
