body {
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 4%;
  font-family: "Courier", fixedsys, System, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: black;
  background-color: white;
   height: 100%;
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

h1{
  font-weight: 600;
}

h2{
  font-weight: 800;
  text-align: center;
  
}

h3{
  margin-top: -10px;
  margin-bottom: 50px;
  text-align: center;
}

.nav-container{
  padding-top: 2%;
  padding-bottom: 1%;
  padding-right: 10%;
  z-index: 1;
  text-align: left;
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.content-container{
  padding-top: 100px;
}

.content-container p{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12pt;
  line-height: 1.5;
}

.content-container img{
  width: 60%;
  margin: auto;
  display: block;
}

.content-container center{
  font-size: 12pt;
}

.nav-container-item{
  flex: 40%;
}

.nav-btn{
  flex: 10%;
  margin-top: 20px;
  text-align: right;
  line-height: 60px;
  font-weight: 500;
}

.nav-btn a{
  font-style: normal;
  color: black;
  text-decoration: none;
}

.nav-btn a:hover{
  font-style: italic;
}

.nav-btn a:hover:before{
  content:"/";
}

.btn-container{
margin: auto;
display: block;
text-align: center; 
}

.btn{
  border: none;
  background-color: none;
  font-family: "Courier", fixedsys, System, sans-serif;
  color: black;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  height: 320px;
}

.content a{
  color: black;
  text-decoration: none;
}

.content h4{
  font-weight: 600;
  font-size: 12pt;
  margin-bottom: -5px;
  margin-top: 15px;
}

.content img{
  object-fit: cover;
  width: 100%;
  height: 12vw;
  margin-bottom: -10px;
}

.content img:hover{
  transform: scale(0.9);
  transition: .2s ease;
}

.content p{
  font-size: 10pt;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.footer-container{
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

.footer-container img{
  width: 20px;
  margin-left: 10px;
}

.footer-container p{
  font-size: 8pt;
}

.flexbox{
  display: flex;
}

.flexbox img{
  height: 500px;
  width: 100%;
  object-fit: cover;
  padding: 3%;
}

.flexbox-2{
  display: flex;
}

.flexbox-2 img{
  width: 100%;
  object-fit: cover;
  padding: 2%;
}

.flexbox-3{
  display: flex;
}

.flexbox-3 img{
  height: 300px;
  width: 60%;
  object-fit: cover;
  padding: 2%;
}

.flex-item{
  flex: 50%;
}

.flex-item img{
  height: 100%;
}

.header{
  margin-top: 10%;
  margin-bottom: -6%;
  display: grid;
  place-items: center;
}

.header img{
  width: 200px;
}


@media (max-width: 900px){

  body{
    margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

  }



  .content-container{
    margin-top: 60%;
  }

  .content-container img{
    width: 100%;
    height: 100%;
  }

  .nav-container{
    display: block;
    position: absolute;
    top: 0;
  }
  .nav-container-item{
    width: 100%;
    text-align: center;
    font-size: 12pt;
  }
  .nav-btn{
    text-align: center;
    line-height: 10px;
  }

  .column{
    width: 100%;
  }

  .content{
    height: 100%;
  }

  .content img{
    width: 100%;
    height: 100%;
  }

  .content-container p{
  margin-left: 0;
  margin-right: 0;
}

.flexbox, .flexbox-2{
  display: block;
}

.flexbox-3 img{
  width: 100%;
  height: 100%;
}
}